body{
  background-color: #E4F9F5;
  font-family: verdana, sans-serif;
}
/* hides html elements*/
.hidden{
  display: none;
}
#questionsContainer{
  margin: 10px;
}
.resultsTable td, .resultsTable th{
  border: 3px solid black; 
}

.resultsTable th{
  background-color: greenyellow;
}

#resultsPage{
  width: 100%;
}

.resultsTable{
  margin: auto;
}

#resultsPage h2{
  margin: auto;
  text-align: center;
  background-color:yellowgreen;
}

